---
layout: default
title: This Week
---
<h1>This week</h1>
<div class = "row" id="app">
    <div class = "col-sm-12" v-if="loadedFromQuery && !justSaved">
        <a class="btn btn-primary" :href="saveLink" role="button">Save this set of recipes</a>
    </div>
    <div class = "col-sm-6">
      <table class="table table-striped-columns" v-if = "picked.length > 0">
        <thead>
          <tr>
            <th>Recipe</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for = "recipe in pickedRecipes">
            <td><a :href="recipe.url">((recipe.title))</a></td>
            <td><img style="max-width:100px" class="img-fluid" :src="`/images/${recipe.id}.jpg`"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class = "col-sm-6">
          <input class="form-check-input" type="checkbox" v-model="filterStaples" id="filterStaples">
          <label class="form-check-label" for="filterStaples">
            &nbsp;Filter staples
          </label>
        <table class="table table-striped-columns" v-if = "picked.length > 0">
        <thead>
          <tr>
            <th>Ingredient <button @click="copyToClipboard"><small>{{copied ? "Copied!" : "Copy"}}</small></button></th>
            <th>Recipes</th>
            <th>Amount</th>
            <th>Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for = "item in shoppingList">
            <td>((item.name))</td>
            <td>((item.recipes.size))</td>
            <td>((item.amount))</td>
            <td>((item.unit))</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<script type="module" src = "vue.js?revision={{site.github.build_revision}}"></script>
