---
layout: default
---

{% assign datafile = page.slug %}
{% assign recipe_data = site.data[datafile] %}

{% if recipe_data %}
{% assign ingredients = recipe_data.ingredients %}
{% assign yields = recipe_data.yields %}
<h2 class = "h2">{{recipe_data.name}}</h2>
<div class = "row">
  <div class = "col-sm-6">
    <table class="table table-striped-columns">
      <thead>
        <tr>
          <th>Ingredient</th>
          <th>Amount</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        {% for yield in yields %}
          {% if yield.yields == 2 %}
            {% for ing in yield.ingredients %}
              {% assign ingredient = ingredients | where: "id", ing.id | first %}
              <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ing.amount }}</td>
                <td>{{ ing.unit }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% assign steps = recipe_data.steps %}
    <div class = "col-sm-6">
      <ul>
        {% for step in steps %}
        <li>{{ step.instructionsMarkdown }}</li>
        {% endfor %}
      </ul>
    </div>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Recipe",

  "@id": "{{ recipe_data.websiteUrl }}",
  "name": {{ recipe_data.name | jsonify }},
  "description": {{ recipe_data.description | strip_html | jsonify }},
  "image": [
    "{{ recipe_data.imageLink }}"
  ],
  "url": "{{ recipe_data.websiteUrl }}",

  "recipeYield": ["2 servings"],

  "recipeCategory": "{{ recipe_data.category.name }}",
  "recipeCuisine": [
    {% for cuisine in recipe_data.cuisines %}
      "{{ cuisine.name }}"{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],

  "keywords": [
    {% for tag in recipe_data.tags %}
      "{{ tag.name }}"{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],

  "prepTime": "{{ recipe_data.prepTime }}",
  "totalTime": "{{ recipe_data.totalTime }}",

  "recipeIngredient": [
    {% assign yield2 = recipe_data.yields | where: "yields", 2 | first %}
    {% for yi in yield2.ingredients %}
      {% assign ing = recipe_data.ingredients | where: "id", yi.id | first %}
      "{{ yi.amount }} {{ yi.unit }} {{ ing.name }}"{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],

  "recipeInstructions": [
    {% for step in recipe_data.steps %}
    {
      "@type": "HowToStep",
      "position": {{ step.index }},
      "text": {{ step.instructions | strip_html | jsonify }}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],

  "nutrition": {
    "@type": "NutritionInformation",
    {% for n in recipe_data.nutrition %}
      {% case n.name %}
        {% when "Energy (kcal)" %}"calories": "{{ n.amount }} {{ n.unit }}",
        {% when "Fat" %}"fatContent": "{{ n.amount }} {{ n.unit }}",
        {% when "of which saturates" %}"saturatedFatContent": "{{ n.amount }} {{ n.unit }}",
        {% when "Carbohydrate" %}"carbohydrateContent": "{{ n.amount }} {{ n.unit }}",
        {% when "of which sugars" %}"sugarContent": "{{ n.amount }} {{ n.unit }}",
        {% when "Protein" %}"proteinContent": "{{ n.amount }} {{ n.unit }}",
        {% when "Salt" %}"sodiumContent": "{{ n.amount }} {{ n.unit }}"
      {% endcase %}
    {% endfor %}
  },

  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ recipe_data.averageRating }}",
    "ratingCount": "{{ recipe_data.ratingsCount }}"
  }
}
</script>


{% include keepawake.html %}

{% else %}


  <p><em>No data found for this recipe.</em></p>
{% endif %}
